<section>
    <div class="container">
    <div class="vertical-center">
        <div class="row">
            <div class="col-sm-4 col-md-offset-4 restrito text-center">
                <h3 class="text-center" data-bind="html:displayName"></h3>
                <a href="/#Login" class="btn btn-primary">Login</a>
                <a href="/#Cadastre-se" class="btn btn-success">Cadastre-se</a>
            </div>
        </div>
    </div>
</div>
</section>
<!-- <div class="container">
    <div class="vertical-center">
        <div class="row">
            <div class="col-sm-6">
                <h3>Bem-vindo {{ Auth::user()->username }}</h3>
                @if (Auth::user()->active==0)
                    <p class="bg-danger">Por favor acesse seu email e valide sua conta.</p>
                @endif    
            </div>
        </div>
    </div>
</div>
-->